<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>模板</title>
    <style>
        #header{
            width: 100px;
            height: 100px;
            background-color: cornflowerblue;
        }
        #footer{
            width: 100px;
            height: 100px;
            background-color: aquamarine;
        }
    </style>
</head>
<body>
    <div id="header">header</div>

{#    中间预留出位置给别人填充#}
    <div id="main1">
        {% block main1 %}

        {% endblock main1 %}
    </div>
    <br>
    <div id="main2">
        {% block main2 %}

        {% endblock main2 %}
    </div>

    <div id="footer">footer</div>
</body>
</html>