<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>学生信息</title>
</head>
<body>
    <h1>学生信息列表</h1>
    <ul>
        {%for student in students %}
            {% if forloop.counter|divisibleby:2 %}
                <li style="color: red">
                    {{ forloop.counter }}--{{ student.sname }}--{{ student.sgrade }}
                </li>
            {% else %}
                 <li style="color: cornflowerblue">
                    {{ forloop.counter }}--{{ student.sname }}--{{ student.sgrade }}
                </li>
            {% endif %}
        {% empty %}
            <li>此时没有学生</li>
{#            此时每一次循环都会创建一个li#}
{#            <li>#}
{#                <a >{{ student.sname }}--{{student.scontend}}</a>#}
{#            </li>#}
        {% endfor %}
     </ul>
</body>
</html>